.card{
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 25%;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.card__details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}

.card__image {
  border-radius: 50%;
  object-fit: cover;
}